@import "tailwindcss";


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Contact form styling */

#contact {
  padding: 20px 0 100px 0;
}

.contact {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.contact-form label {
  font-size: 18px;
  display: block;
}
